# Ignore node_modules directory
node_modules

# Ignore .vscode directory
.vscode

# Ignore output directories
out/
dist/
build/
bin/

# Ignore yarn lockfile
yarn.lock

# Ignore npm lockfile
package-lock.json

# Ignore debug files
*.log
*.vsix.debug
.vscode-test/*

# Ignore user-specific settings files
.settings/
.idea/
*.iml

# Ignore any sensitive or confidential files
.secret
